.App {
  font-family: sans-serif;
  text-align: center;
}

.slider {
  display: flex;
  width: 400px;
  height: 400px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  width: 60px;
  justify-content: space-between;
  font-size: 30px;
  position: absolute;
}

.slider-container {
  position: relative;
}
